.footer {
  background-color: #121212;
}

.footer__inner {
  padding: 60px 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 87px;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  width: 450px;
}

.footer__nav-link {
  display: block;

  color: #FFF;
  font-size: 18px;
  line-height: normal;
  letter-spacing: -0.54px;
  text-transform: uppercase;

  text-decoration: none;
}

.footer__nav-link:hover {
  opacity: 0.5;
}

.footer__copyright {
  color: #FFF;
  font-size: 20px;
  line-height: normal;
  letter-spacing: -0.6px;

  opacity: 0.5;
}

@media (max-width: 767px) {
  .footer__inner {
    padding: 30px 0 26px 0;
    row-gap: 41px;
  }
  
  .footer__nav {
    width: 281px;
  }
  
  .footer__nav-link {
    font-size: 12px;
    letter-spacing: -0.36px;
  }
  
  .footer__copyright {
    font-size: 13px;
    letter-spacing: -0.39px;
  }
}